<% include header.html %>
<style type="text/css">
<!--
.STYLE1 {
	font-size: 18px;
	font-family: "新宋体";
}
td,th,label{
	font-family: 新宋体;
	font-size: 18px;
}
-->
</style>
<script type="text/javascript">
    var flag = false;
    $(function(){
        $("#HiringPositionName").blur(function(){
            var hiringname = $("#HiringPositionName").val();
            // alert(hiringname);
            if(hiringname == ""){
                $("#proname_err").css("color","red");
                $("#proname_err").html("简历名称不能为空");
                return false;
            }  else {
                $.post("/hiringname_check",
                        {"HiringPositionName":hiringname},
                        function(data){
                            alert("flag:"+data.flag) ;
                            if(data.flag == "1"){
                                $("#proname_err").css("color","red");
                                $("#proname_err").html("这个简历名称您已经用过了");
                                flag = false;
                                return false;
                            }
                            if(data.flag == "0"){
                                $("#proname_err").css("color","green");
                                $("#proname_err").html("");
                                flag = true;
                                return true;
                            }
                        })
            }
            return false;
        })
        $("#hiringcreate").submit(function(){
            return flag;
        })
    })
</script>

<form id="hiringcreate" name="hiringcreate" enctype="multipart/form-data" action="/hiringcreate" method="post" >
  <fieldset>
    <legend>发布职位：</legend>   
    <div class="control-group">
      <div class="controls"> 
	   <label  for="HiringPositionName">职位名称：</label>
        <input type="text" class="input-xlarge" id="HiringPositionName" name="HiringPositionName" required autofocus><span id="proname_err">不能为空</span>
	  </div>
    </div>
    <div class="control-group">
	  <div style=" border-bottom:solid 1px #999999 ">
	 	 <label >雇主信息</label>
	  </div> 
	  <div class="controls">
	  <div id="HiringEmployerContactInfo" >
          <table border="0" class="STYLE1" id="contactInfo">
              <tr>
                  <td>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
                  <td><input type="text" name="EmployerName" id="EmployerName" class="input-xlarge" required autofocus/></td>
              </tr>
              <!tr>
              <td>照&nbsp;&nbsp;&nbsp;&nbsp;片：</span></td>
              <td><input type="file" name="ContactIconURL" id="ContactIconURL" class="input-xlarge" required autofocus/>
                  <span class="help-block" style="font-family:'新宋体'; font-size:14px" >允许为PNG或者JPEG格式的图片</span>
              </td>
              </tr>
              <tr>
                  <td>固定电话：</td>
                  <td><input type="text" name="ContactFixedPhoneNo" id="ContactFixedPhoneNo" class="input-xlarge" /></td>
              </tr>
              <tr>
                  <td>手&nbsp;&nbsp;&nbsp;&nbsp;机：</td>
                  <td><input type="text" name="ContactMobilePhoneNo" id="ContactMobilePhoneNo" class="input-xlarge" required autofocus/></td>
              </tr>
              <tr>
                  <td>邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</td>
                  <td><input type="text" name="ContactEmailNo" id="ContactEmailNo" class="input-xlarge" required autofocus/></td>
              </tr>
              <tr>
                  <td>详细住址：</td>
                  <td><input type="text" name="ContactAddressAndZipCode" id="ContactAddressAndZipCode" class="input-xlarge" required autofocus/>
                      <p class="help-block" style="font-family:'新宋体'; font-size:14px">请填写详细的地址</p></td>
              </tr>
          </table>
		</div>
      </div>
    </div>
    <div class="control-group">
	<div style=" border-bottom:solid 1px #999999 ">
	 	 <label  for="HiringEmployerIntro">公司简介：</label>
	 </div>
      <div class="controls">
        <textarea name="HiringEmployerIntro" id="HiringEmployerIntro"  rows="3" style="width:495px; height:50px" maxlength="500"></textarea><span id="description_err"></span>
		<p class="help-block" style="font-family:'新宋体'; font-size:14px">最多500个字</p>
      </div>
    </div>
	 <div class="control-group">
	 <div style=" border-bottom:solid 1px #999999 ">
      <label  for="HiringRequirements">职位要求：</label>
	  </div>
      <div class="controls">
        <textarea name="HiringRequirements" id="HiringRequirements"  rows="10" style="width:495px; height:50px" maxlength="500"></textarea><span id="description_err"></span>
		<p class="help-block" style="font-family:'新宋体'; font-size:14px">最多500个字</p>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">发布职位</button>
    </div>
  </fieldset>
</form>
<% include footer.html %>
