<% include header.html %>
<script>
    // Set to false or delete to disable analytics/tracking:
    TowTruckConfig_enableAnalytics = true;
</script>
<script src="http://localhost:5000/towtruck.js"></script>
<style type="text/css">
    body{background-color: black}
</style>
 <div style="width: 500px; height: 800px; top: 80px; left: 150px;">
     <button class="btn btn-success" id="start_close" style="background-color: #62c462; " onclick="TowTruck(this); return false;">开始面试</button>
     <textarea style="width: 500px; height: 800px; font-size: 16px; background-color: #fcf8e3; "></textarea>
 </div>
</div>
</body>
</html>